/* Reset default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
  /* Add additional font files for different font weights and styles if available */
}

@font-face {
  font-family: 'Amatic SC';
  src: url('fonts/Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Mignon';
  src: url('fonts/Mignon-Regular/Mignon-Regular') format('truetype');
  /* Add additional font files for different font weights and styles if available */
}


@font-face {
  font-family: 'Mignon';
  src: url('fonts/Mignon-Regular/Mignon-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Mignon';
  src: url('fonts/Mignon-Regular/Mignon-It.ttf') format('truetype');
  font-weight: italic;
}

/* Add general styles */
body {
  font-family: Mignon;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  font-family: Amatic SC;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 5px;
  height: 5px;
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
  }

  nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  nav.active {
    display: flex;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  transition: left 0.3s ease-in-out;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu li a {
  color: #fff;
  text-decoration: none;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .sidebar {
    left: -100%;
  }
}
